<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microblog</title>
</head>
<body>
<form action="/logout" method="post">
    <button type="submit">LOGOUT</button>
</form>
<form action="/create-message" method="post">
    <input type="text" name="message" placeholder="Enter Message Here"/>
    <button type="submit">Enter</button>
</form>
<form action="/logout" method="post">
    <button type="submit">LOGOUT</button>
</form>

<ol>{{#msgs}}
<li>{{text}}
    <form action="/delete-message" method="post" style="display: inline-block">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button>
    </form>
</li>
{{/msgs}}</ol>
</body>
</html>